SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/[DB_name_here]
SPRING_DATASOURCE_USERNAME=[DB_username_here]
SPRING_DATASOURCE_PASSWORD=[DB_password_here]

POSTGRES_DB=[DB_name_here]
POSTGRES_USER=[DB_user_here]
POSTGRES_PASSWORD=[DB_password_here]

JWT_SECRET=[long-secret-key-32-chars]
NEXT_PUBLIC_API_URL=[your-local-backend-url-here]
STORAGE_UPLOAD_PATH=[uploads]